:root {
    --color-green: #5D9C59;
    --color-red: #DF2E38;
}

body {
    background-color: #F8F0E5;
}


.title-cyber {
    font-size: 2rem;
}

.title-cyber span.verde {
    color: var(--color-green);
}

.title-cyber span.vermelho {
    color: var(--color-red);
}

.navbar {
    padding: 0px ; 
}

.title-cyber {
    font-size: 2rem; 
    font-weight: bold; 
}

.nav-item {
    font-size: 1.1rem; 
    font-weight: bold; 
    color: var(--color-green);
}

.navbar-nav .nav-link:hover {
    color: var(--color-red);
    font-size: 1.2rem;
}

.home-section {
    background-image: url('../IMG/IMG2.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 230px 0;
    opacity: 0.8;
    border-bottom: 2px solid var(--color-red);
}

.home-text {
    font-size: 30px;
    margin-bottom: 20px;
}

.btn-info {
    font-size: 15px;
}

.custom-card {
    border: 2px solid var(--color-red);
    border-radius: 15px;
}

.custom-card img {
    border-radius: 20px;
}

.plataformas {
    min-height: 20vh;
    background-color: var(--color-green);
}

.redes i {
    font-size: 40px;
    margin: 10px 20px;
}

.redes i:hover {
    color: var(--color-red);
}

textarea {
    resize: none;
    min-height: 20vh;
}

.footer {
    background-color: var(--color-green);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.names {
    font-weight: bold;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    margin-right: 10px;
}

.img-equipe {

    border: 2px solid var(--color-red);
}

.custom-container {
    margin-top: 20px;
}

.socio-section {
    padding: 20px;
    border-radius: 10px;
}